<div class="columns is-desktop is-multiline is-centered is-vcentered">
  <div class="column is-narrow">
    <img src="/staff_planner.png" alt="logo" width="300" height="28">
    <div>
      <%= link_to account_alfred_omniauth_authorize_path, class: "button is-medium is-blue" do %>
        Sign Up With Alfred
      <% end %>
    </div>
  </div>
</div>
